<legend>Breweries</legend>
{{#linkTo "new_producer" class="btn-spacing btn btn-small"}}New Brewery{{/linkTo}}
<table class="table table-striped table-bordered">
	<col style="width:48px">
	<col>
	<col>
	<col>
  <thead>
	  <th>Image</th>
    <th>Name</th>
    <th>Location</th>
    <th>Established</th>
  </thead>
  <tbody>
    {{#each producer in controller}}
    <tr>
	    <td>
				<img {{bindAttr src="producer.image"}} width=48 height=48/>
			</td>
      <td>{{producer.name}}</td>
      <td>{{producer.location}}</td>
      <td>{{producer.established}}</td>
      <td>{{#linkTo "producer" producer}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


