<h2>Taps</h2>

{{#linkTo "new_tap"}}New Tap{{/linkTo}}

<table>
  <thead>
    <th>position</th>
  </thead>
  <tbody>
    {{#each tap in controller}}
    <tr>
      <td>{{tap.position}}</td>
      <td>{{#linkTo "tap" tap}}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


